.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #2d2d2d;
    border-bottom: 1px solid #0078d4;
}

.navbar-brand {
    font-size: 3rem;
    font-family: "VT323", monospace !important;
}

.navbar-actions {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* Carrito de la compra*/
.cart-widget {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.cart-widget:hover {
    transform: scale(1.1);
}

.cart-icon-container {
    position: relative;
    font-size: 1.5rem;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #00a1f1;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1a1a1a;
}

/* Sub Barra de categorias*/

.category-bar {
    background-color: #111115;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.8rem;
    border-bottom: 1px solid #1e1e25;
    font-size: 1.4rem;
}